/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/05/2015, 10:30:09
    Author     : gustavo
*/
body{
    
    background-color: white;
}

.MenuP{
    
    position: relative;
    margin-left: 5%;
    
}

.btLoc{
    
    
    margin-left: 35%;
    
}

.tabela{
    
   position: absolute;
   margin-top: 0%;
    
}

.fontT{
    
    font-size: 20px;
    
}

.conteudoTeste{
    
    margin-top: 5%;
    
}

#inf{

    margin-top: 10%;
    margin-left: 30%;
}

.calendario{

       background-color: red;
}

.trCalendario{

    background-color: white;
}

.tdCalendario{

    background-color: red;
}

#diaSel{

    width: 5px;
    height: 5px;
    background-color: red;
}
#agenda{
	
	display: none;
}

#consultas{
	
	display: none;
}
#exames{
	display: none;
	
}