/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/05/2015, 10:30:09
    Author     : gustavo
*/
body{
    
    background-color: white;
}

.MenuP{
    
    position: relative;
    margin-left: 5%;
    
}

.btLoc{
    
    
    margin-left: 35%;
    
}

.tabela{
    
   position: absolute;
   margin-top: 0%;
    
}

.fontT{
    
    font-size: 20px;
    
}

.conteudoTeste{
    
    margin-top: 20px;
    
}

#inf{

    margin-top: 10%;
    margin-left: 30%;
}

.calendario td {
    text-align: center;
}

.calendario th {
    text-align: center;
}

.calendario td:hover {
    background-color: #ff776f;
    border: 1px solid #d3d3d3;
}

.trCalendario{

    background-color: white;
}

.tdCalendario{

}

#diaSel{
    background-color: #ff9e97;
    border: 1px solid #d3d3d3;
}
#agenda{
	
	display: none;
}

#consultas{
	
	display: none;
}
#exames{
	display: none;
	
}
.ui-dialog .ui-dialog-content {
    overflow: inherit !important;
}
.listap{

    background-color: #EEEEEE;
}

.disabled {
    background-color: #9c969d;
}